:root {
    --primary-font-family: 'Poppins', sans-serif;
   
    
  }
body {
   background-image: url(./images/bg-image.png); 
   font-family: var(--primary-font-family);
   }
   .navbar {
    background-color: white;
   }
   .logo {
    margin: 10px;
   }

.container {
    background-color: white;
    max-width: 1000px;
    margin: 60px auto;
    border-radius: 8px;
    }
    .navbar-links{
        display: flex;
        justify-content: space-between;

    }
    nav ul{
        margin: 15px;
    }
    nav li {
        font-size: 18px;
        display: inline;
        margin-right: 15px;   
    }
    nav li a{
        text-decoration: none;
        color:black
    }
   
    .about-section {
        padding: 45px;
        border-radius: 20%;
    }
.hello-text {
    font-family: var(--primary-font-family);
    font-size:  36px;
    font-weight: 700;
    
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 64px;
}
h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--primary-font-family);
}
.contact-inf  {
    text-decoration: underline;
}
.contacts {
    font-size: 18px;
   
}
.links {
    text-decoration: none;
color: #5551FF;
}
.image-block {
    padding: 0px;}
    .img-fluid {
    border-radius: 5%;
}
.p-heading {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 26px;
    font-weight: 500;
    padding: 0px;
}
#profile {
   text-align: justify;
}
.years{
    padding-left: 90px;
}
.footer {
   padding: 10px 50px 20px 50px;
   background-color: white;
    height: 80px;
    margin: 20px 0px 0px 0px;
    }
   #footer-author{
    opacity: 0.8;
    position: relative;
    margin: auto;
    text-align: center;
    top: -40px;
   } 
   #date{
    font-size: 14px;
   }
