:root {
    --primary-font-family: 'Poppins', sans-serif;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    
  }
body {
   background-image: url(./images/bg-image.png); 
   font-family: var(--primary-font-family);
   }
   .navbar {
    background-color: white;
   }
   #logo {
    margin: 10px;
   }

.container {
    background-color: white;
    max-width: 1000px;
    margin: 60px auto;
    }
    .about-section {
        padding: 45px;
        border-radius: 20%;
    }
.hello-text {
    font-family: var(--primary-font-family);
    font-size:  36px;
    font-weight: 700;
    
}
h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 64px;
}
h2 {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--primary-font-family);
}
.contact-inf  {
    text-decoration: underline;
}
.contacts {
    font-size: 18px;
   
}
.links {
    text-decoration: none;}
.image-block {
    padding: 0px;}
    .img-fluid {
    border-radius: 5%;
}
.p-heading {
    font-size: 26px;
    font-weight: 500;
    padding: 0px;
}
.profile {
   text-align: justify;
}